{% extends "base.html" %}
{% block content %}

<div class="card">
    <div class="card-body text-center">
        <h5 class="card-title">Add Patient</h5>
        <p class="card-text">
            Please enter patient information here and click 'Add' when finished.
        </p>

        <!-- form for taking input and passing to mongo database -->

        <form method="POST" action="{{ url_for('add_patient') }}">
            <div class="row mb-4 form-outline">
                <input type="text" id="first_name" name="first_name" class="form-control" />
                <label class="form-label" for="first_name">First Name</label>
            </div>
            <div class="row mb-4 form-outline">
                <input type="text" id="last_name" name="last_name" class="form-control" />
                <label class="form-label" for="last_name">Last Name</label>
            </div>
            <div class="row mb-4 form-outline">
                <input type="text" id="dob" name="dob" class="form-control" />
                <label class="form-label" for="dob">Date of Birth: </label>
            </div>
            <div class="row mb-4 form-outline">
                <input type="text" id="ward" name="ward" class="form-control" />
                <label class="form-label" for="ward">Ward: </label>
            </div>
            <div class="row mb-4 form-outline">
                <textarea class="form-control" id="notes" name="notes" rows="4"></textarea>
                <label class="form-label" for="notes">Notes:</label>
            </div>
            <div class="row mb-4 form-outline form-check form-switch">
                <div class="col-6 offset-sm-4">
                    <label class="form-check-label" for="is_critical">Critical Condition:</label>
                    <input class="form-check-input" type="checkbox" id="is_critical" name="is_critical" />
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <!-- end of form -->
    </div>
</div>


{% endblock %}