{% extends "base.html" %}
{% block content %}

<h3 class="light-blue-text text-darken-4 center-align">Edit Patient</h3>


<div class="container-md">
    <form>

        <!-- Name of current patient selected to edit -->
        <div class="form-outline mb-4">
            <input type="text" id="first_name" class=" form-control" />
            <label class="form-label" for="first_name">{{ patient.first_name }}</label>
        </div>


        <div class="form-outline mb-4">
            <input type="text" id="last_name" class="form-control" />
            <label class="form-label" for="last_name">{{ patient.last_name }}</label>
        </div>

        <!-- Details of current patient -->
        <div class="form-outline mb-4">
            <input type="text" id="dob" class="form-control" />
            <label class="form-label" for="dob">{{ patient.dob }}</label>
        </div>
        <div class="form-outline mb-4">
            <input type="text" id="ward" class="form-control" />
            <label class="form-label" for="ward">{{ patient.ward }}</label>
        </div>
        <div class="form-outline mb-4">
            <input type="text" id="notes" class="form-control" />
            <label class="form-label" for="notes">{{ patient.notes }}</label>
        </div>
        <div class="form-outline mb-4">
            <input type="text" id="is-critical" class="form-control" />
            <label class="form-label" for="is-critical">Critical condition: {{ patient.is_critical }}</label>
        </div>
        <!-- Critical condition switch -->
        {% if patient.is_critical == "off" %}
        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" />
            <label class="form-check-label" for="flexSwitchCheckDefault">Critical Condition</label>
        </div>
        {% else %}
        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked />
            <label class="form-check-label" for="flexSwitchCheckChecked">Critical Condition</label>
        </div>
        {% endif %}
        
        <div class="row d-flex justify-content-center">
            <div class="col-3">
                <!-- Submit button -->
                <button type="submit" class="btn btn-primary btn-block">Submit</button>
            </div>
        </div>

        <!-- Cancel Button -->
        <a href="{{ url_for('get_info') }}" class="btn btn-outline-danger">
            Cancel
        </a>
    </form>
</div>

{% endblock %}