{% extends "base.html" %}
{% block content %}

<div class="card">
    <div class="card-body">
        <h1 class="card-title display-6 text-center">Current Patients</h1>
    </div>
</div>

<div class="accordion" id="accordionExample">
    {% for patient in patients %}
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-mdb-toggle="collapse" data-mdb-target="#collapseOne"
                aria-expanded="true" aria-controls="collapseOne">
                {{ patient.first_name }}
                {{ patient.last_name }}
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
            data-mdb-parent="#accordionExample">
            <div class="accordion-body">
                <strong>
                    {{ patient.dob }}<br>
                    {{ patient.ward }}<br>
                    {{ patient.notes }}<br>
                    {{ patient.is_fatal }}<br>
                    </strong>
            </div>
        </div>
        {% endfor %}
    </div>


{% endblock %}