{% extends "base.html" %}
{% block content %}

<h3 class="text-center">Register</h3>
<div class="container">
    <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('register') }}">
        <!-- Username -->
        <div class="row">
            <div class="col-12 d-flex justify-content-center">
                <input id="username" name="username" type="text" class="validate" placeholder="Username">
            </div>
        </div>
        <!-- Password -->
        <div class="row">
            <div class="col-12 d-flex justify-content-center">
                <input id="password" name="password" type="password" class="validate" placeholder="Password">
            </div>
        </div>
        <!-- Register -->
        <div class="row">
            <button type="submit" class="col s12 btn-large light-blue darken-4 text-shadow">
                Register <i class="fas fa-sign-in-alt"></i>
            </button>
        </div>
</div>
</form>
{% endblock %}